.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    text-decoration: none;
    color: #fff;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 390px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}