.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    background: no-repeat center/cover url(../../../images/cover/__background.jpg);
    position: relative;
    z-index: 1;
}

.cover__link::before {
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    z-index: 2;
}

.cover__link:hover::before {
    opacity: 0.8;
    transition: opacity .4s ease;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 390px) {
    .cover__link {
        max-width: 390px;
        min-height: 244px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}