.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 92px 0;
    max-width: 984px;
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .lead {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding-bottom: 64px;
    }
}