.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    z-index: 3;
}

@media screen and (max-width: 390px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 260px;
    }
}