.footer__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: .8;
}