.lead__title {
    max-width: 720px;
    margin: 0;
    padding: 0 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
}