.intro {
    padding: 0 0 92px 148px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
    
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding-left: 24px;
        padding-bottom: 88px;
    }
    
}

@media screen and (max-width: 390px) {
    .intro {
        max-width: 350px;
        padding-left: 16px;
        padding-bottom: 64px;
    }
    
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 285px;
    }
    
}