.cover {
    width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    padding: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 768px;
        min-height: 480px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 320px;
        min-height: 200px;
        padding-bottom: 64px;
    }
}