.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 0 92px 0;
}

@media screen and (max-width: 768px) {
    .cover {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 390px) {
    .cover {
        padding-bottom: 64px;
    }
}