.place__url-heading {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    padding: 0;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        margin-bottom: 12px;
    }
}
